table{
padding:5px;
}
table th{
background-color:yellow;
font-weight:bold;
}
table tr:nth-child(odd){
background-color:#f2f2f2;
}
table tr:nth-child(even){
background-color:#fffff;
}
.image{
padding:10px;
width:100px
object-fit:cover;
border-radius:50%;
}
.box1{
background-color:gray;
width:400px;
height:400px;
}
.box2{
background-color:white;
}
.name{
font-weight:bolder;
font-family:arial;
}
.para{
font-family:cailibri;
}